.mid {
    gap: 0px;
    /* padding: 0 5rem; */
}

.rem p {
    font-size: 12px !important;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.banner img {
    min-width: 200px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.banner button {
    min-width: 200px;
}