.activity{
    gap: 50px;
}
.react-calendar {
    border: 2px solid #1F0066 !important;
    border-radius: 8px;
    background-color: #644d99;
    color: #000; 
  }
  
  .react-calendar__tile {
    padding: 10px !important;
    background: #dbd9e0 !important;
    border-radius: 7px !important;
    color: #000 !important;
    transition: background-color 0.3s ease !important;
  }
  
  .react-calendar__tile:hover {
    background-color: #0f0327 !important; 
    cursor: pointer;
    color: #fff !important;
  }
  
  .react-calendar__tile--now {
    background-color: #1F0066!important; 
    border: 1px solid #fff !important;
    color: #fff !important;
  }
  
  .react-calendar__tile--active {
    background-color: #1F0066 !important; 
    color: #fff;
  }
  .react-calendar__navigation {
    background-color: #1F0066 !important;
    color: #000 !important;
    border-radius: 5px;
    padding: 5px !important;
  }
  
  .react-calendar__navigation button {
    background: none !important;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .react-calendar__navigation button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  .react-calendar__month-view__days__day:nth-child(7n-1),
.react-calendar__month-view__days__day:nth-child(7n) {
  color: #d9534f !important; 
}
