.chatuser{
  background-color: #abb8c5;
  
} 
.btn{
    border: none;
    background-color: #f9f9f9;
    margin-right: 20px !important;
}
.btn:hover{
    border: none;
    background-color: #1F0066;
    color: #f9f9f9 !important;
    
}

.chatbox {
    gap: 10px;
    border: 1px solid #1F0066;
    border-radius: 8px;
    background-color: transparent;
    max-width: 400px;
    margin: 10px auto;
  }
  
  .chatbox input[type="text"] {
    flex-grow: 2;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    background-color: #abb8c5;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .chatbox button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color:#1F0066;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .chatbox button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .message {
    border-radius: 15px;
    font-size: 14px;
    color: #000; 
    max-width: 70% !important;
    word-wrap: break-word; 
  }
  
  .message.user {
    background-color: #d1e7fF; 
    align-self: flex-start;
    max-width: 70% !important;
  }
  
  .message.doctor {
    background-color: #ffd1dc; 
    align-self: flex-start; 
  }
  